pipeline/Ingest tables.json
{
	"name": "Ingest tables",
	"properties": {
		"activities": [
			{
				"name": "Lookup Table Names",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 2,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": false,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "ds_tablesmetadata_json",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEachtable",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup Table Names",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup Table Names').output.value",
						"type": "Expression"
					},
					"batchCount": 3,
					"activities": [
						{
							"name": "Copy sql tables",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 2,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"additionalColumns": [
										{
											"name": "ingestion_date",
											"value": {
												"value": "@utcNow()",
												"type": "Expression"
											}
										},
										{
											"name": "file_path",
											"value": {
												"value": "@concat('RetailPOS.',item().schema,'.',item().table)",
												"type": "Expression"
											}
										}
									],
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_sql_server_tables",
									"type": "DatasetReference",
									"parameters": {
										"table_name": {
											"value": "@item().table",
											"type": "Expression"
										},
										"schema_name": {
											"value": "@item().schema",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_sink_sql_tables_to_adls",
									"type": "DatasetReference",
									"parameters": {
										"folder_name": {
											"value": "@item().table",
											"type": "Expression"
										},
										"file_name": {
											"value": "@concat(item().table,'.parquet')",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "email alert",
							"type": "WebActivity",
							"dependsOn": [
								{
									"activity": "Copy sql tables",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 2,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"method": "POST",
								"url": "https://prod-01.northcentralus.logic.azure.com:443/workflows/0296cc18d85b40a18c6d76e30402e6c6/triggers/When_an_HTTP_request_is_received/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2FWhen_an_HTTP_request_is_received%2Frun&sv=1.0&sig=Hu9VMVWkrwwetK3SyTvVa7M_tS4CTw7laDY5Hjueb4U",
								"body": {
									"value": "{\n    \"pipelinename\": \"@{pipeline().Pipeline}\"\n    \"adf workspace\": \"@{pipeline().DataFactory}\"\n    \"Error Message\": \"@{activity('Copy sql tables').output.Error.Message}\"\n    \"RunId\": \"@{pipeline().RunId}\"\n}",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"folder": {
			"name": "Ingestion"
		},
		"annotations": [],
		"lastPublishTime": "2025-09-10T20:37:00Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}