pipeline/Ingest invoice csv files.json
{
	"name": "Ingest invoice csv files",
	"properties": {
		"activities": [
			{
				"name": "Copy Invoice Csv To Adls",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 3,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"additionalColumns": [
							{
								"name": "filepath",
								"value": "gen2yash0507/invoicedata"
							},
							{
								"name": "ingestion_date",
								"value": {
									"value": "@utcNow()",
									"type": "Expression"
								}
							}
						],
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": false,
							"wildcardFileName": "*.csv",
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "Invoice",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Invoice",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "StockCode",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "StockCode",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "Description",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Description",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "Quantity",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Quantity",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "InvoiceDate",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "InvoiceDate",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "Price",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Price",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "Customer ID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "CustomerID",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "Country",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Country",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "filepath",
									"type": "String"
								},
								"sink": {
									"name": "Filepath",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "ingestion_date",
									"type": "String"
								},
								"sink": {
									"name": "IngestionDate",
									"physicalType": "UTF8"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ds_invoice_csv",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ds_sink_invoice",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "email alert",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Copy Invoice Csv To Adls",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 2,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"url": "https://prod-01.northcentralus.logic.azure.com:443/workflows/0296cc18d85b40a18c6d76e30402e6c6/triggers/When_an_HTTP_request_is_received/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2FWhen_an_HTTP_request_is_received%2Frun&sv=1.0&sig=Hu9VMVWkrwwetK3SyTvVa7M_tS4CTw7laDY5Hjueb4U",
					"body": {
						"value": "{\n    \"pipelinename\": \"@{pipeline().Pipeline}\"\n    \"adf workspace\": \"@{pipeline().DataFactory}\"\n    \"Error Message\": \"@{activity('Copy Invoice Csv To Adls').output.Error.Message}\"\n    \"RunId\": \"@{pipeline().RunId}\"\n}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Delete src file",
				"type": "Delete",
				"dependsOn": [
					{
						"activity": "Copy Invoice Csv To Adls",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_invoice_csv",
						"type": "DatasetReference"
					},
					"enableLogging": false,
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": false,
						"wildcardFileName": "*.csv",
						"enablePartitionDiscovery": false
					}
				}
			}
		],
		"folder": {
			"name": "Ingestion"
		},
		"annotations": [],
		"lastPublishTime": "2025-09-05T19:51:31Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}