pipeline/pl_notebooks.json
{
	"name": "pl_notebooks",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Notebook_Setup_and_Config",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": false,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "ls_metadata_sqltable_json",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup1').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"batchCount": 3,
					"activities": [
						{
							"name": "notebook_dim_tables_bronze_to_silver",
							"description": "CustomerList,CountryList and ProductPricesBy year full load to silver",
							"type": "DatabricksNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 2,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/RetailPOS_Project/transformations/02.dim_tables_bronze_to_silver",
								"baseParameters": {
									"folder_name": {
										"value": "@item().table_name",
										"type": "Expression"
									},
									"key_columns": {
										"value": "@item().key_columns",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "ls_azuredatabricks",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			},
			{
				"name": "Notebook_Setup_and_Config",
				"description": "Setup_and_Config notebooks",
				"type": "DatabricksNotebook",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/RetailPOS_Project/master_notebook_setup"
				},
				"linkedServiceName": {
					"referenceName": "ls_azuredatabricks",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Get Metadata1",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "ForEach1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ls_invoice_bronze_folder",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "BinaryReadSettings"
					}
				}
			},
			{
				"name": "ForEach2",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Metadata1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Metadata1').output.childItems",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Get Metadata of each file",
							"type": "GetMetadata",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "ls_bronze_invoice_latest_parquet",
									"type": "DatasetReference",
									"parameters": {
										"file_name": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								},
								"fieldList": [
									"lastModified",
									"itemName"
								],
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "ParquetReadSettings"
								}
							}
						},
						{
							"name": "If Condition1",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "Get Metadata of each file",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@greater(activity('Get Metadata of each file').output.lastModified,variables('Refdatetime'))",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "Set latest file time",
										"type": "SetVariable",
										"dependsOn": [],
										"policy": {
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"variableName": "Refdatetime",
											"value": {
												"value": "@activity('Get Metadata of each file').output.lastModified",
												"type": "Expression"
											}
										}
									},
									{
										"name": "Set latest file",
										"type": "SetVariable",
										"dependsOn": [
											{
												"activity": "Set latest file time",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"variableName": "latestfile",
											"value": {
												"value": "@activity('Get Metadata of each file').output.itemName",
												"type": "Expression"
											}
										}
									}
								]
							}
						}
					]
				}
			},
			{
				"name": "Notebook_fact_Invoice",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "ForEach2",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/RetailPOS_Project/transformations/01.invoice_fact_bronze_to_silver",
					"baseParameters": {
						"file_name": {
							"value": "@variables('latestfile')",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_azuredatabricks",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Notebook_gold_tables_master",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "Notebook_fact_Invoice",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/RetailPOS_Project/master_notebook_gold_tables"
				},
				"linkedServiceName": {
					"referenceName": "ls_azuredatabricks",
					"type": "LinkedServiceReference"
				}
			}
		],
		"variables": {
			"latestfile": {
				"type": "String"
			},
			"Refdatetime": {
				"type": "String",
				"defaultValue": "1900-01-01 00:00:00"
			}
		},
		"annotations": []
	}
}